*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
    background-color: #eee;
}

.site{
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}

.site nav ul{
    display: flex;
    gap: 0.5em;
}

.site nav li{
    display: block;
    list-style-type: none outside;
}

.site nav a{
    display: block;
    background-color: #eee;
    color: black;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    text-decoration: none;
}

.site nav a:hover{
    background-color: darkorange;
    color: #fff;
}

@media (max-width: 800px){
    .site{
        justify-content: space-between;
        max-width: 600px;   
    }

    .site nav{
        margin-left: 3em;
    }
}
