*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
}

body, h1, h2, h3, h4, h5{
    font-family: inherit;
}

.container{
    margin: 2em auto;
    max-width: 900px;
    padding: 1.5em;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 0.3em;
}

.container header:nth-child(1){
    padding-bottom: 1.5em;
}

.container > .content-container > section:nth-child(1) > p{
    line-height: 1.5em;
    font-size: 17px;
    max-width: 80%;
}

.container > .content-container > section{
    padding-bottom: 1.5em;
}

.container > .content-container > section:nth-child(2) > p,
.container > .content-container > section:nth-child(3) > p,
.container > .content-container > section:nth-child(5) > p,
.container > .content-container > section:nth-child(6)> p{
    line-height: 1.4em;
}

h2{
    padding-bottom: 1em;
}

.container > .content-container > section:nth-child(5) > p{
    max-width: 99%;
}

footer p{
    font-style: italic;
}
