.flex-direction-row,
.flex-direction-row-reverse,
.flex-direction-column,
.flex-direction-column-reverse
{
    display: flex;
    border: 2px solid blue;
    padding: 2em;
    width: 400px;
}

.flex-item{
    background-color: #eee;
    border: 2px solid black;
    padding: 1em;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-row-reverse{
    flex-direction: row-reverse;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-column-reverse{
    flex-direction: column-reverse;
}